<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADDED-PAGE</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbar" style=" background-color: rgba(0, 0, 0, 0.438);  border: 1px solid ; font-size:20px; text-align: center; font: bolder; padding-block: 20px; ">
        
        <a href="/display" style=" color: white; padding-right: 20px; text-decoration: none;">DISPLAY</a>
        <a href="/" style=" color: white; padding-right: 20px; text-decoration: none;">ADD</a>
        <a href="/edit" style=" color: white; text-decoration: none;">EDIT</a>

    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; ">
        <% data.map((e,i)=>{ %>
            <div class="main" style="border: 1px solid red; height: 570px; width: 450px ; margin-top: 20px;">

                <div class="img" style="height: 70%; width: 90%; margin-left: 5%; margin-top: 10px; box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;">
                    <img src="https://imexpert.au/wp-content/uploads/2023/08/image-not-found.png" alt="" style="height: 100%; width: 100%;">
                </div>
                <p style="font-size: 20px; margin-left: 10px; font-weight: bolder; margin-top: 20px;">Bookname: <%=e.name%></p>  
                <p style="font-size: 20px; margin-left: 10px; font-weight: bolder;">Book Author: <%=e.author%></p>
                <p style="font-size: 20px; margin-left: 10px; font-weight: bolder;">Book Price: <%=e.price%></p> 
                <a href="/editdata?id=<%=e.id%>" ><button class="button-55" role="button"><i class="fa-solid fa-pen-to-square"></i></button></a>
                <a href="/delete?id=<%=e.id%>"><button class="button-55" role="button"><i class="fa-solid fa-trash"></i></button></a>
            </div>
        <%})%>
    
</div>

   
</body>
</html>